<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/head}"></div>
<body>
<div class="container">
    <div class="row">
        <div th:object="${transaction}"
             class="col-md-4 d-flex flex-column bg-text mb-3 rounded-circle">
            <h2>Name <strong th:text="*{startDate}"></strong></h2>
            <h4>Price: <strong th:text="*{expirationDate}"></strong></h4>
            <h4>Category: <strong th:text="*{service.name}"></strong></h4>
            <h4>Category: <strong th:text="*{service.price}"></strong></h4>
            <h4>Category: <strong th:text="*{bill.amount}"></strong></h4>
            <form method="post"
                  th:action="@{'/all-transactions/' + ${id}}">
                <button class="btn btn-danger align-bottom" type="submit">Delete company</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>