<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/head}"></div>
<body>
    <div class="card">
        <img class="card-img" src="/images/employee.png" alt="picture" >
        <div class="card-img-overlay">
            <form
                    th:action="@{/add-employee}"
                    th:object="${addEmployeeDto}"
                    method="post" class="mx-auto w-50 bg-blur rounded ">
                <div class="form-group mb-3 " >
                    <label  for="fullName" class="form-label">Full Name</label>
                    <input
                            class="form-control bg-dark"
                            id="fullName"
                            name="fullName"
                            placeholder="FullName"
                            th:field="*{fullName}"
                            type="text"
                    />
                    <p th:errors = "*{fullName}" class="text-danger"
                       th:if="${#fields.hasErrors('fullName')}"></p>
                </div>
                <div class="form-group mb-3">
                    <label  for="age" class="form-label">Age</label>
                    <input
                            class="form-control bg-dark"
                            id="age"
                            name="age"
                            placeholder="Price"
                            th:field="*{age}"
                            type="number"
                    />
                    <p th:errors = "*{age}" class="text-danger"
                       th:if="${#fields.hasErrors('age')}"></p>
                </div>
                <div class="form-group mb-3" >
                    <label  for="address" class="form-label">Address</label>
                    <input
                            class="form-control bg-dark"
                            id="address"
                            name="fullName"
                            placeholder="address"
                            th:field="*{address}"
                            type="text"
                    />
                    <p th:errors = "*{address}" class="text-danger"
                       th:if="${#fields.hasErrors('address')}"></p>
                </div>
                <div class="form-group mb-3">
                    <label  for="age" class="form-label">Start of working day</label>
                    <input
                            class="form-control bg-dark"
                            id="startOfWorkingDay"
                            name="startOfWorkingDay"
                            placeholder="startOfWorkingDay"
                            th:text="${#dates.format(start,'HH:mm:ss')}"
                            type="time"
                    />
                    <p th:errors = "*{startOfWorkingDay}" class="text-danger"
                       th:if="${#fields.hasErrors('startOfWorkingDay')}"></p>
                </div>
                <div class="form-group mb-3" >
                    <label  for="endOfWorkingDay" class="form-label">End of working day</label>
                    <input
                            class="form-control bg-dark"
                            id="endOfWorkingDay"
                            name="endOfWorkingDay"
                            placeholder="endOfWorkingDay"
                            th:text="${#dates.format(end,'HH:mm:ss')}"
                            type="time"
                    />
                    <p th:errors = "*{endOfWorkingDay}" class="text-danger"
                       th:if="${#fields.hasErrors('endOfWorkingDay')}"></p>
                </div>
                <div class="form-group mb-3">
                    <label  for="salary" class="form-label">Salary</label>
                    <input
                            class="form-control bg-dark"
                            id="salary"
                            name="salary"
                            placeholder="salary"
                            th:field="*{salary}"
                            type="number"
                    />
                    <p th:errors = "*{salary}" class="text-danger"
                       th:if="${#fields.hasErrors('salary')}"></p>
                </div>
                <div class="form-group mb-3" >
                    <label  for="identificationNumber" class="form-label">Identification number</label>
                    <input
                            class="form-control bg-dark"
                            id="identificationNumber"
                            name="identificationNumber"
                            placeholder="identificationNumber"
                            th:field="*{identificationNumber}"
                            type="text"
                    />
                    <p th:errors = "*{identificationNumber}" class="text-danger"
                       th:if="${#fields.hasErrors('identificationNumber')}"></p>
                </div>
                <div class="row">
                    <div class="col col-md-4">
                        <div class="button-holder d-flex">
                            <input type="submit" class="btn btn-info btn-lg" value="Add Service"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer>
            <div class="footer-background h5 text-center text-dark">
                &copy; Spring team 2021. All rights reserved.
            </div>
        </footer>
    </div>
</body>
</html>