<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card" >
    <img class="card-img" src="/images/allServices.png" alt="picture">
    <div class="card-img-overlay">
        <div class="container">
            <div class="row">
                <div th:each="employee : ${employees}"
                     th:object="${employee}"
                     class="col-md-4 d-flex flex-column bg-text mb-3 rounded-circle">
                    <h2>Name <strong th:text="*{fullName}"></strong></h2>
                    <h4>Price: <strong th:text="*{age}"></strong></h4>
                    <h4>Category: <strong th:text="*{address}"></strong></h4>
                    <h4>Category: <strong th:text="*{startOfWorkingDay}"></strong></h4>
                    <h4>Category: <strong th:text="*{endOfWorkingDay}"></strong></h4>
                    <h4>Category: <strong th:text="*{salary}"></strong></h4>
                    <h4>Category: <strong th:text="*{identificationNumber}"></strong></h4>
                    <h4><a class="btn-block" th:href="@{'/all-employees/' + ${employee.id}}">Delete</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>