<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/head}">
</head>
<body>
<header th:replace="~{/navbar}"></header>
<main>
        <div class="container bg-blur rounded mt-5 ">
            <h1>Welcome to Shopping List App</h1>
            <hr class="my-3 bg-white w-50"/>
            <p class="h4">The application is here to help us keep in mind our shopping needs.</p>
            <hr class="my-3 bg-white w-75" />
            <h3>
                <a class="text-primay" th:href="@{/login}">Login</a>
                if you have an account or
                <a class="text-primay" th:href="@{/register}">Register</a>
                now and check our deals.
            </h3>
        </div>
    </main>
    <footer class="footer bg-transparent  py-2">
       <div class="container-fluid text-center">
			<div class="footer-background h5 text-white">
            &copy; Spring team 2021. All rights reserved.
			</div>
		</div>
    </footer>
</body>
</html>
